.main-container1 {
  display: flex;              
  flex-direction: row;        
  align-items: center;    
  justify-content: space-between;
  gap: 50px;
  padding: 50px 20px;
  flex-wrap: wrap;            
  max-width: 1200px;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
}
.img-container{
      flex: 1;
  min-width: 280px;
  max-width: 600px;
  height: auto;
}

.img-container img{
    width: 100%;
    height: auto;
     border-radius: 30px;
  object-fit: cover;
}
.text-container {
  flex: 1;            
  min-width: 280px; 
  margin-left: 30px;  
}

.text-container h3{
  font-size: 1.8rem;
  margin-bottom: 20px;
  font-weight: 600;

}


.text-container p{
 font-size: 1rem;
  line-height: 1.6;

}

.text-container li{
    text-decoration: underline;
    cursor: pointer;
    font-weight: 500;
  color: #333;
}

.text-container ul {
  list-style: none; 
  padding: 0;        
  margin: 0;         
}